@import './variables.scss';

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    border-radius: $border-radius;
    background-color: $white-color;
    font-size: $basic-font-size;
    border: $border-width solid #333;
    overflow: hidden;
    float: right;
    padding: 10px;
    z-index: 10;

    button {
        margin: 0;
        margin-right: 5px;
        width: 36px;
        padding: 0 5px;
        background-color: rgba($color: $white-color, $alpha: 0);
        border-radius: 50%;
        float: right;
        i {
            margin: 0;
            padding: 0;
        }
    }

    p {
        margin: 0;
        padding: 0;
        color: #333;
        word-wrap: break-word;
    }
}

@mixin alert-state($color) {
    border-color: $color;
    button {
        color: $color;
    }
}

.success {
    @include alert-state($start-form-hover-color);
}

.fail {
    @include alert-state($primary-page-color);
}