@import './variables.scss';

button {
    font-size: $basic-font-size;
    font-weight: bolder;
    border-radius: $border-radius;
    border: none;
    display: block;
    box-sizing: border-box;
    padding: $control-padding;
    transition: $transition-time linear;
}

button:enabled {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

button:focus:enabled, button:hover:enabled {
    box-shadow: 0 0 5px #333;
}