@import './variables.scss';
@import './centered.scss';

.confirmation-block {
    @include center;
    width: 520px;
    padding: 40px;
    border-radius: $border-radius;
    background-color: $white-color;
    border: $border-width solid $primary-page-color;
    
    h2 {
        font-size: $primary-header-font-size;
        text-align: center;
    }
    p {
        font-size: $basic-font-size;
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button {
            background-color: $primary-page-color;
            color: $white-color;
            margin: 5px 15px;
        }
        button:hover {
            background-color: $white-color;
            color: $primary-page-color;
        }
    }
}