@import './variables.scss';

.contacts-list {
    width: 100%;
    list-style: none;
    padding: 20px 100px;
    font-size: $basic-font-size;

    h2 {
        font-size: $secondary-header-font-size;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    h3 {
        margin: 10px 10px;
        font-size: $common-header-font-size;
    }

    li{
        width: 100%;
        border: $border-width solid #d1d1d1;
        border-radius: $border-radius;
        margin: 10px 0;
        padding: 10px;

        h3 {
            margin: 0;
        }

        p {
            margin-bottom: 10px;
        }
    }
}