@import './header.scss';
@import './forms.scss';
@import './contacts-list.scss';
@import './confirmation-block.scss';

.primary-block {
    justify-content: center;
    button:enabled {
        color: #fff;
        background-color: $primary-page-color;
    }
    
    button:focus:enabled, button:hover:enabled {
        background-color: #fff;
        color: $primary-page-color;
    }

    .edit-personal-info {
        width: 95%;;
    }

    .notify-all {
        width: 95%;
        margin: 10px auto 20px;
        height: 60px;
    }
}