$start-form-elements-color: olive;
$start-form-hover-color: rgb(121, 179, 7);
$primary-page-color: rgb(199, 71, 71);
$passive-color: #d1d1d1;
$transition-time: .3s;
$border-width: 2px;
$border-radius: 7px;
$control-padding: 5px 7px;
$basic-font-size: 24px;
$primary-header-font-size: 32px;
$secondary-header-font-size: 56px;
$common-header-font-size: 40px;