* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

button {
  font-size: 24px;
  font-weight: bolder;
  border-radius: 7px;
  border: none;
  display: block;
  box-sizing: border-box;
  padding: 5px 7px;
  transition: 0.3s linear;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus:enabled, button:hover:enabled {
  box-shadow: 0 0 5px #333;
}

input {
  border-radius: 7px;
  outline: none;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 5px 7px;
  transition: 0.3s linear;
}

input:disabled {
  cursor: not-allowed;
}

.start-form {
  margin: 0 auto;
  width: 95%;
}
.start-form h2 {
  text-align: center;
  margin: 10px 0;
}
.start-form button {
  margin: 10px auto 5px;
  background-color: olive;
  color: #fff;
}
.start-form input {
  border-color: rgba(209, 209, 209, 0);
}
.start-form label {
  margin: 5px auto;
}
.start-form h2 {
  font-size: 56px;
}
.start-form button {
  width: 90%;
}
.start-form button:focus:enabled, .start-form button:hover:enabled {
  background-color: #fff;
  color: rgb(121, 179, 7);
}
.start-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.start-form input:focus:enabled, .start-form input:hover:enabled {
  border-color: rgb(121, 179, 7);
}
.start-form button:disabled {
  background-color: #d1d1d1;
}
.start-form label {
  width: 90%;
  display: block;
  font-size: 24px;
}

.add-contact-form {
  padding: 20px 100px;
  width: 95%;
}
.add-contact-form h2 {
  font-size: 56px;
}
.add-contact-form button {
  width: 100%;
}
.add-contact-form button:focus:enabled, .add-contact-form button:hover:enabled {
  background-color: #fff;
  color: rgb(199, 71, 71);
}
.add-contact-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.add-contact-form input:focus:enabled, .add-contact-form input:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.add-contact-form button:disabled {
  background-color: #d1d1d1;
}
.add-contact-form label {
  width: 100%;
  display: block;
  font-size: 24px;
}
.add-contact-form button {
  margin-top: 20px;
}
.add-contact-form input {
  border-color: #d1d1d1;
}

.personal-info-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #d1d1d1;
  border-radius: 7px;
  padding: 20px 100px;
  width: 95%;
}
.personal-info-form button {
  margin-top: 10px;
}
.personal-info-form button:enabled {
  background-color: rgb(199, 71, 71);
}
.personal-info-form textarea {
  font-size: 24px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  box-sizing: border-box;
  display: block;
  border: 2px solid #d1d1d1;
  padding: 5px 7px;
  transition: 0.3s linear;
}
.personal-info-form textarea:focus:enabled, .personal-info-form textarea:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.personal-info-form input {
  border-color: #d1d1d1;
}
.personal-info-form h2 {
  font-size: 56px;
}
.personal-info-form button {
  width: 80%;
}
.personal-info-form button:focus:enabled, .personal-info-form button:hover:enabled {
  background-color: #fff;
  color: rgb(199, 71, 71);
}
.personal-info-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.personal-info-form input:focus:enabled, .personal-info-form input:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.personal-info-form button:disabled {
  background-color: #d1d1d1;
}
.personal-info-form label {
  width: 80%;
  display: block;
  font-size: 24px;
}

.language-select {
  border-radius: 7px;
  padding: 5px 7px;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  font-size: 24px;
}

.start-block {
  width: 650px;
  background-color: #d1d1d1;
  border-radius: 7px;
  border: 2px solid #333;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.start-block a {
  color: olive;
  transition: 0.3s linear;
}
.start-block a:focus, .start-block a:hover {
  color: rgb(121, 179, 7);
}
.start-block p {
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}
.start-block p a {
  margin-left: 5px;
  font-weight: bolder;
}
.start-block .language-select {
  width: 90%;
  margin: 10px auto 25px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.start-block .language-select:focus, .start-block .language-select:hover {
  border-color: rgb(121, 179, 7);
}

button {
  font-size: 24px;
  font-weight: bolder;
  border-radius: 7px;
  border: none;
  display: block;
  box-sizing: border-box;
  padding: 5px 7px;
  transition: 0.3s linear;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus:enabled, button:hover:enabled {
  box-shadow: 0 0 5px #333;
}

.language-select {
  border-radius: 7px;
  padding: 5px 7px;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  font-size: 24px;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px auto;
}

header {
  margin: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid rgb(199, 71, 71);
  padding: 10px 0;
  position: sticky;
  top: 0;
}
header .container {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .children {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header .children button {
  color: rgb(199, 71, 71);
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.16s linear;
}
header .children .active-section-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(199, 71, 71);
  margin-top: 2px;
}
header .children .language-select {
  margin: 10px;
  border: 2px solid #d1d1d1;
}
header .children .language-select:focus, header .children .language-select:hover {
  border-color: rgb(199, 71, 71);
}
header h1 {
  font-size: 32px;
  display: block;
}

button {
  font-size: 24px;
  font-weight: bolder;
  border-radius: 7px;
  border: none;
  display: block;
  box-sizing: border-box;
  padding: 5px 7px;
  transition: 0.3s linear;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus:enabled, button:hover:enabled {
  box-shadow: 0 0 5px #333;
}

input {
  border-radius: 7px;
  outline: none;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 5px 7px;
  transition: 0.3s linear;
}

input:disabled {
  cursor: not-allowed;
}

.start-form {
  margin: 0 auto;
  width: 95%;
}
.start-form h2 {
  text-align: center;
  margin: 10px 0;
}
.start-form button {
  margin: 10px auto 5px;
  background-color: olive;
  color: #fff;
}
.start-form input {
  border-color: rgba(209, 209, 209, 0);
}
.start-form label {
  margin: 5px auto;
}
.start-form h2 {
  font-size: 56px;
}
.start-form button {
  width: 90%;
}
.start-form button:focus:enabled, .start-form button:hover:enabled {
  background-color: #fff;
  color: rgb(121, 179, 7);
}
.start-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.start-form input:focus:enabled, .start-form input:hover:enabled {
  border-color: rgb(121, 179, 7);
}
.start-form button:disabled {
  background-color: #d1d1d1;
}
.start-form label {
  width: 90%;
  display: block;
  font-size: 24px;
}

.add-contact-form {
  padding: 20px 100px;
  width: 95%;
}
.add-contact-form h2 {
  font-size: 56px;
}
.add-contact-form button {
  width: 100%;
}
.add-contact-form button:focus:enabled, .add-contact-form button:hover:enabled {
  background-color: #fff;
  color: rgb(199, 71, 71);
}
.add-contact-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.add-contact-form input:focus:enabled, .add-contact-form input:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.add-contact-form button:disabled {
  background-color: #d1d1d1;
}
.add-contact-form label {
  width: 100%;
  display: block;
  font-size: 24px;
}
.add-contact-form button {
  margin-top: 20px;
}
.add-contact-form input {
  border-color: #d1d1d1;
}

.personal-info-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #d1d1d1;
  border-radius: 7px;
  padding: 20px 100px;
  width: 95%;
}
.personal-info-form button {
  margin-top: 10px;
}
.personal-info-form button:enabled {
  background-color: rgb(199, 71, 71);
}
.personal-info-form textarea {
  font-size: 24px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  box-sizing: border-box;
  display: block;
  border: 2px solid #d1d1d1;
  padding: 5px 7px;
  transition: 0.3s linear;
}
.personal-info-form textarea:focus:enabled, .personal-info-form textarea:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.personal-info-form input {
  border-color: #d1d1d1;
}
.personal-info-form h2 {
  font-size: 56px;
}
.personal-info-form button {
  width: 80%;
}
.personal-info-form button:focus:enabled, .personal-info-form button:hover:enabled {
  background-color: #fff;
  color: rgb(199, 71, 71);
}
.personal-info-form input {
  border-width: 2px;
  border-style: solid;
  width: 100%;
}
.personal-info-form input:focus:enabled, .personal-info-form input:hover:enabled {
  border-color: rgb(199, 71, 71);
}
.personal-info-form button:disabled {
  background-color: #d1d1d1;
}
.personal-info-form label {
  width: 80%;
  display: block;
  font-size: 24px;
}

.contacts-list {
  width: 100%;
  list-style: none;
  padding: 20px 100px;
  font-size: 24px;
}
.contacts-list h2 {
  font-size: 56px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}
.contacts-list h3 {
  font-size: 40px;
  margin: 0;
}
.contacts-list li {
  width: 100%;
  border: 2px solid #d1d1d1;
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
}
.contacts-list p {
  margin-bottom: 10px;
}

.confirmation-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 520px;
  padding: 40px;
  border-radius: 7px;
  background-color: #fff;
  border: 2px solid rgb(199, 71, 71);
}
.confirmation-block h2 {
  font-size: 32px;
  text-align: center;
}
.confirmation-block p {
  text-align: center;
  font-size: 24px;
}
.confirmation-block .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.confirmation-block .buttons button {
  background-color: rgb(199, 71, 71);
  color: #fff;
  margin: 5px 15px;
}
.confirmation-block .buttons button:hover {
  background-color: #fff;
  color: rgb(199, 71, 71);
}

.primary-block {
  justify-content: center;
}
.primary-block button:enabled {
  color: #fff;
  background-color: rgb(199, 71, 71);
}
.primary-block button:focus:enabled, .primary-block button:hover:enabled {
  background-color: #fff;
  color: rgb(199, 71, 71);
}
.primary-block .edit-personal-info {
  width: 95%;
}
.primary-block .notify-all {
  width: 95%;
  margin: 10px auto 20px;
  height: 60px;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  border-radius: 7px;
  background-color: #fff;
  font-size: 24px;
  border: 2px solid #333;
  overflow: hidden;
  float: right;
  padding: 10px;
}
.alert button {
  margin: 0;
  margin-right: 5px;
  width: 36px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  float: right;
}
.alert button i {
  margin: 0;
  padding: 0;
}
.alert p {
  margin: 0;
  padding: 0;
  color: #333;
  word-wrap: break-word;
}

.success {
  border-color: rgb(121, 179, 7);
}
.success button {
  color: rgb(121, 179, 7);
}

.fail {
  border-color: rgb(199, 71, 71);
}
.fail button {
  color: rgb(199, 71, 71);
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  top: 0;
  padding: 0;
  z-index: 5;
}
.loading-container .spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
  border: 25px solid #fff;
  border-radius: 25px;
  animation-duration: 3s;
  animation-name: load;
  animation-iteration-count: infinite;
}
.loading-container .inner {
  width: 125%;
  height: 125%;
  border: 20px solid rgb(199, 71, 71);
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 25px;
}
.loading-container .inner::after {
  content: "";
  display: block;
  width: 115%;
  height: 115%;
  border-radius: 25px;
  border: 5px solid rgb(199, 71, 71);
  margin-top: -6px;
  margin-left: -6px;
}
@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
    -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
    -moz-transform: translate(-50%, -50%) rotateZ(360deg);
    -o-transform: translate(-50%, -50%) rotateZ(360deg);
    -ms-transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
