* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff; 
}

@import './styles/start-block.scss';
@import './styles/primary-block.scss';
@import './styles/alert.scss';
@import './styles/loading.scss';